<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyArlDsXPprhXAqPnNYrR7ggPQNMVPCvaN4</string>
	<key>GCM_SENDER_ID</key>
	<string>641771163288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.heartRate</string>
	<key>PROJECT_ID</key>
	<string>heart-rate-93aee</string>
	<key>STORAGE_BUCKET</key>
	<string>heart-rate-93aee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641771163288:ios:9a166cd3b4c188702c4aed</string>
	<key>DATABASE_URL</key>
	<string>https://heart-rate-93aee-default-rtdb.firebaseio.com</string>
</dict>
</plist>